Flask==0.12.1
Flask-Ask==0.9.7
Flask-Cors==3.0.2
Flask-HTTPAuth==3.2.3
Flask-Images==2.1.2
Flask-Login==0.4.0
flask-marshmallow==0.7.0
Flask-OAuthlib==0.9.4
flask-restplus==0.10.1
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
peewee==3.2.0
requests==2.2.1
requests-oauthlib==0.8.0
urllib3==1.7.1
virtualenv==15.2.0
