{% extends "layout.html" %}
{% block title %}Happy Meeting{% endblock %}
{% block style %}
rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/subpage.css')}}"
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagetitle %}Happy Meeting{% endblock %}
{% block nav %}
<ul>
    <li><a href="{{url_for('home')}}">Home</li>
    <li><a class="selected" href="{{url_for('about')}}">About</li>
    <li><a href="{{url_for('trend_page')}}">Trends</li>
    <li><a href="{{url_for('new_post', score=0)}}">Input</li>
    <li><a href="{{url_for('log_page')}}">Log</li>
    <li><a href="{{url_for('contact')}}">Contact</li>
</ul>
{% endblock %}
{% block content %}
<div id="main" style="top:30px">
    <br>
    Meeting culture is an essential component of happiness for any organization. In order for us to not fall into
    the trap of thinking that meetings by themselves accomplish anything, we as part of the OneSphere organization
    will set forth a series of guidlines to help us determine the ideal meetings. Such meetings should be ones where
    clear goals are met, meeting attendees are engaged, outcomes are documented and time is well spent. To be clear,
    this is an ideal and not every meeting will meet this ideal. That is totally okay. But it is important that we all
    understand the ideal and measure our progress towards conducting meetings which helps ensure happiness for the
    team.<br>
    <br>
    This little application is modeled after the 'happy-or-not' stations I saw in many international airports. It is
    a simple five button panel which measures happiness on a scale of 1-5 where 1 is very sad and 5 is very happy.
    The intent is that we include a link to this app in every meeting invite and encourage team members to go to this
    internal site and register their meeting happiness. A simple score can be entered or additional information can
    be logged consisting of the meeting title and notes. The trend page measures daily happiness as an average with
    a fixed number of days of history (i.e. 7 days of history). The log keeps track of the last N entries where N is
    hardcoded to a fixed value (currently 20). The app is still evolving and features will be added over time but
    the goal was to create a very simple way to measure meeting happiness. <br>
    <br>
    As a reminder, the OneSphere Kanban board has a user story that describes the ideal meeting. The description of
    the perfect meeting is transcribed below: <br>
    <br>
    <div style="margin-left: 2em;">
    <li>Meeting durations that exceed 1 hour should be the exception rather than the rule. If you find that you
        have to schedule a more than 1 hour meeting consider breaking it into multiple smaller meetings.</li>
    <li>Meetings should strive to end 5min early for 30min meetings (i.e. 25min) and 10min early for 60min
        meetings (i.e. 50min). This will give people time between meetings for collecting notes, summarizing or
        simply walking to the next meeting. Meetings should only be scheduled for 25min or 50min durations.</li>
    <li>Slides presented at meetings should be distributed at least 24 hours in advance.</li>
    <li>Presentations should try to adhere to the Guy Kawasaki 10/20/30 rule (10 slides, 20 min, 30pt font).</li>
    <li>Detailed agendas should be published with the meeting.</li>
    <li>Outcomes, decisions and actions should be published to the meeting attendees and other stakeholders.</li>
    <li>Meeting artifacts should be published in public repositories (i.e. Wiki) for transparency and to increase
        communication.</li>
    <li>Identify decision makers and observers in the meeting.</li>
    <li>Clearly identify intended outcomes.</li>
    <li>Generally meetings should not have more than 10 invitees. If you find the need to schedule a meeting with
        more people, scrutinize the purpose and identify the possibility of smaller more effective meetings.</li>
    <li>Re-occurring meetings should clearly identify each week the topics and the subset of the invitees that
        will have a focus in the meeting for that week.</li>
    <li>Special scrutiny should be made for any meeting scheduled during core hours (6am-10am PST) which is a
        precious window of overlap between the geographies. Ask yourself if meetings in that window are absolutely
        necessary.</li>
    <li>Scheduling meetings should not be confused with making progress.</li>
    </div>
    <br>
    I hope you enjoy the happymeeting app and I'm optimistic that using such a tool can help us measure our progression
    towards meeting happiness. Comments and feedback are greatly appreciated. <br>
    <br>
    Happy meetings!! <br>
    <br>
    -Wayland <br>
    <br>
</div>
{% endblock %}