{% extends "layout.html" %}
{% block title %}Happy Meeting{% endblock %}
{% block style %}
rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/subpage.css')}}"
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagetitle %}Happy Meeting{% endblock %}
{% block nav %}
<ul>
    <li><a href="{{url_for('home')}}">Home</li>
    <li><a class="selected" href="{{url_for('about')}}">About</li>
    <li><a href="{{url_for('trend_page')}}">Trends</li>
    <li><a href="{{url_for('new_post', score=0)}}">Input</li>
    <li><a href="{{url_for('log_page')}}">Log</li>
    <li><a href="{{url_for('contact')}}">Contact</li>
</ul>
{% endblock %}
{% block content %}
<div id="main" style="top:30px">
    <br>
    <li>Meeting durations that exceed 1 hour should be the exception rather than the rule. If you find that you
        have to schedule a more than 1 hour meeting consider breaking it into multiple smaller meetings.</li>
    <li>Meetings should strive to end 5min early for 30min meetings (i.e. 25min) and 10min early for 60min
        meetings (i.e. 50min). This will give people time between meetings for collecting notes, summarizing or
        simply walking to the next meeting. Meetings should only be scheduled for 25min or 50min durations.</li>
    <li>Slides presented at meetings should be distributed at least 24 hours in advance.</li>
    <li>Presentations should try to adhere to the Guy Kawasaki 10/20/30 rule (10 slides, 20 min, 30pt font).</li>
    <li>Detailed agendas should be published with the meeting.</li>
    <li>Outcomes, decisions and actions should be published to the meeting attendees and other stakeholders.</li>
    <li>Meeting artifacts should be published in public repositories (i.e. Wiki) for transparency and to increase
        communication.</li>
    <li>Identify decision makers and observers in the meeting.</li>
    <li>Clearly identify intended outcomes.</li>
    <li>Generally meetings should not have more than 10 invitees. If you find the need to schedule a meeting with
        more people, scrutinize the purpose and identify the possibility of smaller more effective meetings.</li>
    <li>Re-occurring meetings should clearly identify each week the topics and the subset of the invitees that
        will have a focus in the meeting for that week.</li>
    <li>Special scrutiny should be made for any meeting scheduled during core hours (6am-10am PST) which is a
        precious window of overlap between the geographies. Ask yourself if meetings in that window are absolutely
        necessary.</li>
    <li>Scheduling meetings should not be confused with making progress.</li>
    <br>
    <br>
</div>
{% endblock %}