<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- import plugin script -->
    <script src="{{url_for('static', filename='Chart.min.js')}}"></script>
    <link {% block style %}{% endblock %} />
    {% endblock %}
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>{% block pagetitle %}{% endblock %}</h1>
        </div>
        <div id="content">

            {% if page != "post" %}

            <div id="nav">
                <ul>
                    {% if page == "home" %}
                        <li><a class="selected" href="{{url_for('home')}}">Home</li>
                    {% else %}
                        <li><a href="{{url_for('home')}}">Home</li>
                    {% endif %}

                    {% if page == "about" %}
                        <li><a class="selected" href="{{url_for('about')}}">About</li>
                    {% else %}
                        <li><a href="{{url_for('about')}}">About</li>
                    {% endif %}

                    {% if page == "trends" %}
                        <li><a class="selected" href="{{url_for('trend_page', duration="days")}}">Trends</li>
                    {% else %}
                        <li><a href="{{url_for('trend_page', duration="days")}}">Trends</li>
                    {% endif %}

                    {% if page == "post" %}
                        <li><a class="selected" href="{{url_for('new_post', score=0)}}">Input</li>
                    {% else %}
                        <li><a href="{{url_for('new_post', score=0)}}">Input</li>
                    {% endif %}

                    {% if page == "log" %}
                        <li><a class="selected" href="{{url_for('log_page')}}">Log</li>
                    {% else %}
                        <li><a href="{{url_for('log_page')}}">Log</li>
                    {% endif %}

                    {% if page == "admin" %}
                        <li><a class="selected" href="{{url_for('admin')}}">Admin</li>
                    {% else %}
                        <li><a href="{{url_for('admin')}}">Admin</li>
                    {% endif %}

                    {% if page == "contact" %}
                        <li><a class="selected" href="{{url_for('contact')}}">Contact</li>
                    {% else %}
                        <li><a href="{{url_for('contact')}}">Contact</li>
                    {% endif %}


                </ul>
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            Copyright &copy; 2018 Wayland Jeong
        </div>
    </div>

</body>
</html>