{% extends "layout.html" %}
{% block title %}Happy Meeting{% endblock %}
{% block style %}
rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/subpage.css')}}"
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagetitle %}Happy Meeting{% endblock %}
{% block content %}
<div id="main" style="top:30px">
    {% for post in posts %}
        Meeting Title: {{ post.title }} <br>
        Posted at: {{ post.date.strftime('%m/%d/%Y at %G:%I%p') }} <br>
        Score: {{post.score}} <br>
        Comments: {{post.text}} <br>
        <br>
    {% endfor %}
</div>
{% endblock %}